
a(class="twitter-timeline" target="_blank" data-widget-id="706224359510118400" data-screen-name="#{keyword}" href="https://twitter.com/#{keyword}" ) 
script(type="text/javascript").
	twttr.widgets.load(document.getElementById("feed"));